{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
  <div style="pointer-events:none;">
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
  </div>
</body>
<script>
//paper.install(window);
  //window.onload = function() {
    // setting up the canvas and one paper tool
    var clientId = parseInt(Math.random() * 10000000);
    var canvas = document.getElementById('myCanvas');
    var socket = new WebSocket('ws://p4-psaba-psaba112307108.codeanyapp.com:8765/');
    var paperOther = []; //[number, path]
    var x = Math.floor(Math.random() * 256);
    var y = Math.floor(Math.random() * 256);
    var z = Math.floor(Math.random() * 256);
    var colorHere = "rgb(" + x + "," + y + "," + z + ")";
  
    paper.setup(canvas);
    var tool = new paper.Tool();

    function runSmall(){
          var myPath = new paper.Path();
          myPath.strokeColor = colorHere;

          tool.onMouseMove = function(event) {
            myPath.add(event.point);
            var msg = {
                type: "point",
                text: event.point,
                color: colorHere,
                id:   clientId,
             };
            socket.send(JSON.stringify(msg)); 
          }
          window.addEventListener('devicemotion', function(event) {
            if(Math.abs(event.acceleration.x) > 7){
              var msg = {
                type: "erase",
              };
              socket.send(JSON.stringify(msg));
              myPath.remove();
              myPath = new paper.Path();
              myPath.strokeColor = colorHere;
            }
            if (event.rotationRate.gamma < -40){
              var x = Math.floor(Math.random() * 256);
              var y = Math.floor(Math.random() * 256);
              var z = Math.floor(Math.random() * 256);
              colorHere = "rgb(" + x + "," + y + "," + z + ")";
              myPath.strokeColor = colorHere;
              var msg = {
                type: "colorChange",
                newColor: colorHere,
                id: clientId
              };
              socket.send(JSON.stringify(msg));
            }
          });
      socket.onmessage = function(receivedMessage) {
        if (data.type === "erase"){
              myPath.remove();
//               myPath = new paper.Path();
//               myPath.strokeColor = colorHere;
        }
      }

    }
  function runBig(){
          tool.onMouseMove = function(event) {
            var msg = {
                type: "point",
                text: event.point,
                color: colorHere,
                id:   clientId,
             };
            socket.send(JSON.stringify(msg)); 
          }

          socket.onmessage = function(receivedMessage) {
            // do something when you receive a message
            var data = JSON.parse(receivedMessage.data);
            if (data.type === "point"){
              var inside = false;
              paperOther.forEach(function(element) {
                if (element.number === data.id){
                  inside = true;
                  element.path.add(new paper.Point(data.text[1], data.text[2]));
                }
              });
              if (!inside){
                var sopath = new paper.Path();
                sopath.strokeColor = data.color;
                sopath.add(data.text);
                paperOther.push({number: data.id, path: sopath});
              }
            } else if (data.type === "erase"){
              paperOther.forEach(function(element){
                element.path.remove();
              });
              paperOther = [];
            } else if (data.type === "colorChange"){
              paperOther = paperOther.map(function(element){
                if(data.id === element.number){
                  var pathy = element.path;
                  pathy.strokeColor = data.newColor;
                  return {
                    number: element.number,
                    path: pathy
                  }
                } else{
                  return element;
                }
              });
            }
          };
  }
  
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    var url = window.location.href;
		if (url.indexOf("small") > -1) {
			runSmall()
		} else {
	  	runBig()
		}

</script>
</html>